@tailwind base;
@tailwind components;
@tailwind utilities;
body,
html,
#app {
  width: 100%;
  height: 100%;
}
.menu-scroll-x {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.menu-scroll-x::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
@font-face {
  font-family: 'Inter';
  src: url(/my-project/public/assets/Fonts/inter/Inter-Regular.ttf);
}
@font-face {
  font-family: 'Inter-semibold';
  src: url(/my-project/public/assets/Fonts/inter/Inter-SemiBold.ttf);
}
@font-face {
  font-family: 'Inter-Bold';
  src: url(/my-project/public/assets/Fonts/inter/Inter-Bold.ttf);
}
.swiper-pagination-bullet {
  background-color: black;
  width: 25px;
  height: 1px;
}
.swiper-pagination {
  position: relative;
}
input[type='checkbox'] {
  accent-color: black;
}

/* Target the SVG element with the ID */
#my-svg {
  fill: #6c757d; /* Set the default fill color */
}

/* Change the fill color on hover */
#my-svg:hover {
  fill: black;
}
.card.end-of-card {
  border-bottom: 2px solid red;
}