@tailwind base;
@tailwind components;
@tailwind utilities;
body,
html,
#app {
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: 'Inter';
  src: url(/my-project/public/assets/Fonts/inter/Inter-Regular.ttf);
}
.swiper-pagination-bullet {
  background-color: black;
  width: 25px;
  height: 1px;
}
.swiper-pagination {
  position: relative;
}
input[type='checkbox'] {
  accent-color: black;
}

/* Target the SVG element with the ID */
#my-svg {
  fill: #6c757d; /* Set the default fill color */
}

/* Change the fill color on hover */
#my-svg:hover {
  fill: black;
}
